/* variables.scss
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */
/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.fixed-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
.fixed-container:before, .fixed-container:after {
  display: table;
  content: "";
  zoom: 1;
}
.fixed-container:after {
  clear: both;
}

body {
  background: url("../img/bg_body_dark.png") repeat #90b0af;
}

section {
  padding-bottom: 30px;
}

.share-button-container {
  float: right;
  margin-top: 20px;
}

#video_placeholder {
  height: 349px;
  width: 620px;
  background: #222222;
  color: #ddd;
  text-align: center;
  line-height: 350px;
  -webkit-box-shadow: inset 0 0 50px #444444;
  -moz-box-shadow: inset 0 0 50px #444444;
  box-shadow: inset 0 0 50px #444444;
}

#get_involved p {
  font-size: 25px;
  font-weight: 500;
  line-height: 37px;
  color: white;
  text-shadow: #223b40 0 1px 0;
}

.featured-container {
  background: url("../img/bg_form.png") repeat transparent;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
}
.featured-container h1, .featured-container h2, .featured-container h3, .featured-container h4, .featured-container h5, .featured-container h6 {
  color: #e63600;
  text-shadow: none;
}

.toplayer-container {
  background: url("../img/bg_body.png") repeat transparent;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25), 0 -2px 4px 0px rgba(0,0,0,0.25);
  padding-top: 20px;
}
.toplayer-container.featured {
  background: url("../img/bg_form.png") repeat transparent;
  margin: 20px 0;
  padding: 30px 0;
  text-shadow: none;
}
.toplayer-container.featured h3 {
  font-size: 28px;
}
.toplayer-container.featured p {
  font-weight: bold;
}

#math {
  height: 175px;
  text-align: center;
  padding: 30px 0 0 0;
  margin-bottom: 0px;
}
#math h2 {
  margin-bottom: 20px;
}
#math #the-equation {
  margin-bottom: 20px;
}
#math p {
  font-size: 36px;
  font-weight: bold;
  color: #e63600;
  line-height: 50px;
}
#math .value {
  font-family: 'LeagueGothicRegular', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  background: #223b40;
  color: white;
  padding: 4px 13px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#math small {
  font-weight: bold;
  font-size: 13px;
  color: #223b40;
}

#founding_partners {
  padding-top: 20px;
  height: 240px;
}

#causes, #featured-causes {
  border-top: thin solid #729e9b;
  border-bottom: thin solid #729e9b;
  margin: 20px 0;
  padding: 20px 0;
}
#causes #see-all-causes, #featured-causes #see-all-causes {
  color: #213b40;
  display: inline-block;
  background-color: #729e9b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 6px;
  float: right;
}

a.backtotop-link {
  color: white;
  float: right;
  font-size: 13px;
  font-weight: normal;
}
a.backtotop-link:hover {
  color: white;
}

#cause-nav {
  margin-bottom: 20px;
}

.extracause {
  display: none;
}
.extracause.shown {
  display: table-row;
}

.jumpbuttonlink {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #1a2b2f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#223b41), to(#1a2b2f));
  background-image: -moz-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -ms-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #223b41), color-stop(100%, #1a2b2f));
  background-image: -webkit-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -o-linear-gradient(top, #223b41, #1a2b2f);
  background-image: linear-gradient(top, #223b41, #1a2b2f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#223b41', endColorstr='#1a2b2f', GradientType=0);
  color: white;
  padding: 10px;
  margin: 10px 0;
  width: 280px;
  font-size: 18px;
}
.jumpbuttonlink:hover {
  color: white;
}

#featured-causes {
  margin-bottom: 36px;
}

#partner-logos, #donor-logos, #featured-causes {
  text-align: center;
}
#partner-logos img, #donor-logos img, #featured-causes img {
  margin: 0 30px 20px 30px;
}

#get-involved-card, .form-card {
  background: url("../img/bg_form.png") repeat #f7f6eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
}
#get-involved-card h2, .form-card h2 {
  font-size: 30px;
  color: #e63600;
  text-transform: none;
  text-shadow: 0 1px 1px white;
}
#get-involved-card h4, .form-card h4 {
  font-family: 'LeagueGothicRegular', Arial, sans-serif;
  text-shadow: 0 1px 1px white;
  color: #626262;
  line-height: 26px;
  font-size: 24px;
  margin-bottom: 10px;
}
#get-involved-card #contact-info, .form-card #contact-info {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #626262;
}
#get-involved-card .submit, .form-card .submit {
  background: url("../img/button_submit.png") no-repeat transparent;
  border: none;
  width: 152px;
  height: 57px;
}

.cause {
  height: 90px;
  margin-bottom: 18px;
}
.cause a > h3 {
  text-decoration: none;
}
.cause h3 {
  line-height: 18px;
}
.cause .cause-description {
  margin-bottom: 18px;
}

.summary-amountdonated {
  width: 197px;
  height: 137px;
  background: url("../img/summary_amountdonated.png") no-repeat transparent;
}

.summary-everyonesdoingit {
  width: 300px;
  height: 150px;
  background: url("../img/summary_whodoesit.png") no-repeat transparent;
}

.summary-givingforeveryone {
  width: 300px;
  height: 150px;
  background: url("../img/summary_givingforeveryone.png") no-repeat transparent;
}

#why-give {
  padding: 20px 0;
  border-bottom: thin solid #90b0af;
  border-top: thin solid #90b0af;
  margin-bottom: 50px;
}

.whygive {
  color: white;
}

.whygive-big {
  font-family: 'LeagueGothicRegular', Arial, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 60px;
}

.whygive-small {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
}

.howitworks-inittogether {
  width: 750px;
  height: 150px;
  margin-top: 20px;
  background: url("../img/howitworks_inittogether.png") no-repeat transparent;
}

.benefits-icon {
  width: 124px;
  height: 127px;
  margin-bottom: 20px;
}

.benefits-pr {
  background: url("../img/benefits-01.png") no-repeat transparent;
}

.benefits-events {
  background: url("../img/benefits-02.png") no-repeat transparent;
}

.benefits-culturehiring {
  background: url("../img/benefits-03.png") no-repeat transparent;
}

#get-involved .form-card {
  width: 420px;
}

div.stepnum {
  width: 25px;
  height: 25px;
  float: left;
  margin: 0px 10px 0 0;
  font-size: 16px;
  font-family: 'LeagueGothicRegular', Arial, sans-serif;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  background: #e63600;
  color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 1px 1px 2px #ad2100;
  -moz-box-shadow: inset 1px 1px 2px #ad2100;
  box-shadow: inset 1px 1px 2px #ad2100;
}

table.cause-category {
  margin: 40px 0;
  background: url("/img/bg_form.png") repeat transparent;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
table.cause-category thead {
  background-color: #1a2b2f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#223b41), to(#1a2b2f));
  background-image: -moz-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -ms-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #223b41), color-stop(100%, #1a2b2f));
  background-image: -webkit-linear-gradient(top, #223b41, #1a2b2f);
  background-image: -o-linear-gradient(top, #223b41, #1a2b2f);
  background-image: linear-gradient(top, #223b41, #1a2b2f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#223b41', endColorstr='#1a2b2f', GradientType=0);
  color: white;
  padding: 10px;
  font-size: 18px;
}
table.cause-category thead > tr > th {
  padding: 10px;
}
table.cause-category thead:hover {
  color: white;
}
table.cause-category tr:nth-child(odd) td {
  background: rgba(230, 54, 0, 0.1);
}
