
@import "_variables.scss";
@import "_mixins.scss";

body { background: $blueLightest; }

section { margin-bottom: 30px; }

#get_involved {
	margin-bottom: 26px;

	p {
		font-size: 25px;
		font-weight: 500;
		line-height: 37px;
		color: $white;
		text-shadow: $turquoise 0 1px 0;
	}
}

#math {
	background: url('../img/bg_equation.png') repeat-x transparent;
	height: 175px;
	text-align: center;
	padding: 30px 0 0 0;
	margin-bottom: 0px;
	
	h2 {
		margin-bottom: 20px;
	}
	
	#the-equation {
		margin-bottom: 20px;
	}
	
	p {
		font-size: 36px;
		font-weight: bold;
		color: $orange;
		line-height: 50px;
	}
	
	.value {
		font-family: 'LeagueGothicRegular', Arial, sans-serif;
		font-size: 36px;
		font-weight: normal;
		background: $blueDark;
		color: white;
		padding: 4px 13px;
		@include border-radius(8px);
	}
	
	small {
		font-weight: bold;
		font-size: 13px;
		color: $blueDark;
	}
}

#founding_partners {
	padding-top: 20px;
	background: url('../img/bg_foundingpartners.png');
	height: 218px;
}

#causes {
	border-top: thin solid $blueLight;
	border-bottom: thin solid $blueLight;
	padding: 20px 0;

	#see-all-causes {
		color: $blueDarkest;
		display: inline-block;
		background-color: $blueLight;
		@include border-radius(3px);
		padding: 4px 6px;
		float: right;
	}
}

#partner-logos, #donor-logos {
	text-align: center;
	img { margin: 0 30px; }
}


